.header
  .header-container
    .header-title
      = link_to root_path do
        = icon('fas', 'book', class: 'mypage-icon')
        Book Note!
    .header-box
      .header-box__search
        .search-form
        .search-box
          = icon('fas', 'search', class: 'search-icon')
      .header-box__mypage
        = link_to edit_user_path(current_user) do
          = icon('fas', 'user', class: 'mypage-icon')

.main
  .main-container
    .bookshelf-name
      = "#{current_user.name}さんの本棚"
    .notes
      - @notes.each do |note|
        .note
          = link_to note_path(note) do
            = image_tag note.image.url, size: "200x250" if note.image.present?


.post
  = link_to new_note_path do
    .post__text
      Write
      = icon('fas', 'pencil-alt', class: 'icon')

.write-footer
  .write-container
    .write-title
      = link_to root_path do
        = icon('fas', 'book', class: 'mypage-icon')
        Book Note!
  