.write-header
  .write-container
    .write-title
      = link_to root_path do
        = icon('fas', 'book', class: 'mypage-icon')
        Book Note!

.write-contents
  .container
    = form_for [@note] do |f|
      .container__title
        %h2 読書ノートを書く
      .container__text
        = f.text_field :title, class: 'input-default', placeholder: '本のタイトルを入力してください'
        = f.text_field :author, class: 'input-default', placeholder: '著者名を入力してください'
        = f.text_field :date, class: 'input-default', placeholder: '読了日を入力してください(例:2020/01/01)'
        = f.file_field :image,class: 'input-default'
        = f.text_area :story, class: 'input-area', placeholder: 'あらすじor要約を入力してください'
        = f.text_area :review, class: 'input-area', placeholder: '感想or学んだことを入力してください'
        = f.submit '保存する', class: 'write-btn'
        
.write-header