= render "/shared/note-header"

.show-contents
  .show-container
    .show-image
      = image_tag @note.image.url, size: "250x300"
    .show-text
      .left-title
        タイトル
      .right-text
        = @note.title
    .show-text
      .left-title
        著者名
      .right-text
        = @note.author
    .show-text
      .left-title
        読了日
      .right-text
        = @note.date
    .show-text
      = link_to 'ノートを編集する', edit_note_path(@note),class: "edit-btn"
    .show-text
      = link_to "/notes/#{@note.id}", method: :delete, class: "delete-btn" do
        = icon('fas', 'trash', class: 'delete-icon')

= render "/shared/note-footer"