.write-header
  .write-container
    .write-title
      = link_to root_path do
        = icon('fas', 'book', class: 'mypage-icon')
        Book Note!

.single-main
  .login-single-container
    .login-single-head
      .user-newsession
        = link_to destroy_user_session_path, method: :delete do
          ログアウト
    = form_for(current_user,class: "login-single-innner") do |f|
      .login-single-content
        .form-group
          = f.text_field :name, autofocus: true, placeholder: "ニックネーム",required: "required", class: 'login-input-default'
        .form-group
          = f.text_field :email, autofocus: true, placeholder: "メールアドレス",required: "required", class: 'login-input-default'
        .form-group
          = f.submit "更新する", class: "user-login"

.write-footer
  .write-container
    .write-title
      = link_to root_path do
        = icon('fas', 'book', class: 'mypage-icon')
        Book Note!
